## .gitignore配置规则介绍
# 以斜杠“/”开头表示目录；
# 以星号“*”通配多个字符；
# 以问号“?”通配单个字符
# 以方括号“[]”包含单个字符的匹配列表；
# 以叹号“!”表示不忽略(跟踪)匹配到的文件或目录；
## 以下是规则例子
# 1）/mtk/			过滤mtk件夹,包括子目录
# 2）*.zip			过滤所有.zip文件
# 3）/mtk/do.c		过滤do.c文件
# 4）!/mtk/one.txt	保留/mtk/one.txt文件

/node_modules/
debugdata.json